Source: spdlog
Section: libdevel
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Michael R. Crusoe <crusoe@ucdavis.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/viewvc/debian-med/trunk/packages/<pkg>/trunk/
Vcs-Svn: svn://anonscm.debian.org/debian-med/trunk/packages/<pkg>/trunk/
Homepage: https://github.com/COMBINE-lab/spdlog

Package: libspdlog-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Very fast, header only, C++ logging library
 <long_description>
